@{
    ViewData["Title"] = "FanficMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h3 class="display-4">Menu</h3>
    <h5>There are some tags for you UwU</h5>
</div>
